/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: center;
}

#str {
    text-align: left;
}
#num {
    text-align: right;
}

table tr#transaction {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

table thead,
table tr#stock,
table tr#cash,
table tr#total {
    font-weight: bold;
}

tbody tr#transaction:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}
